<!-- prettier-ignore -->
{% extends "master.html" %}
{% block title %}Create new post{% endblock %}
{% block content %}

<h3>Create new post</h3>
<form method="post">
  {% csrf_token %}
  <input
    type="hidden"
    name="postusername"
    value="{{ request.user.username }}"
  />
  <input type="hidden" name="postuserid" value="{{ request.user.id }}" />
  <div class="mb-3">
    <label for="posttitle">Title of the post:</label>
    <input type="text" name="posttitle" class="form-control" id="posttitle" />
  </div>
  <div class="mb-3">
    <label for="postmessage">Message:</label>
    <textarea
      name="postmessage"
      id="postmessage"
      class="form-control"
      rows="5"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
