{% extends "master.html" %} 
{% block title %} Test forum {% endblock %}

{% block content %}
<div class="container">
  {% if is_banned and user.is_authenticated %}
  <div class="alert alert-danger">
    You have been banned from this forum. You can see any post and comment, but you can't create new post or post a comment
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8">
    {% for post in allpost %}
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><a class="link-dark text-decoration-none" href="post/{{ post.id }}">{{ post.posttitle }}</a></h4>
             <p class="card-subtitle text-muted">Posted by {{ post.postusername }} at {{ post.postdate }}</p>
             {% if is_mod %}
              <button class="btn btn-danger btn-sm float-end" onclick="deleteComment({{ comment.id }})">Remove</button>
             {% else %}
              <span></span>
             {% endif %}
           </div>
        </div>
      </div>
    {% empty %}
    <div class="col-sm-8">
      <p>There's nothing to see here</p>
    </div>
    {% endfor %}
    </div>
    <div class="col-sm-4">
      <h4>Bruhforum Rules</h4>
      <p>{{ rules }}</p>
    </div>
  </div>
</div>
{% endblock %}
