{% extends 'modmaster.html' %}
{% block title %}Forum panel{% endblock title %}
{% block content %}
<script>
  function banUser(userId) {
    if (confirm("Are you sure you want to ban this user?")) {
        fetch('/api/banuser/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'userId': userId
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('User has been banned!');
                document.getElementById('row-' + userId).remove();  // remove the banned user from the table
            } else {
                alert('Error occurred while banning user!');
            }
        })
        .catch(error => console.log(error));
    }
  }
</script>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Manage users</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
          <tr id="row-{{ member.id }}">
            <td>{{ member }}</td>
            <td><button class="btn btn-danger" onclick="banUser({{ member.id }})">Ban</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Reports</h3>
    </div>
  </div>
</div>
{% endblock content %}