{% extends 'modmaster.html' %}
{% block title %}Forum panel{% endblock title %}
{% block content %}
<script>
  function banUser(userId) {
    if (confirm("Are you sure you want to ban this user?")) {
        fetch('/api/banuser/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'userId': userId
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('User has been banned!');
                document.getElementById('row-' + userId).remove();  // remove the banned user from the table
            } else {
                alert('Error occurred while banning user!');
            }
        })
        .catch(error => console.log(error));
    }
  }
</script>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <button type="button" class="btn">Main settings</button>
      <br>
      <button type="button" class="btn">Member list</button>
      <br>
      <button type="button" class="btn">Roles and permissions</button>
    </div>
    <div class="col-sm-8">
      <h3>Main settings</h3>
    </div>
  </div>
</div>
{% endblock content %}