<!-- prettier-ignore -->
{% extends 'modmaster.html' %}
{% block title %} Forum panel {% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="mt-2">
        <button type="button" class="btn">Main settings</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn">Member list</button>
      </div>
      <div class="mt-2">
        <button type="button" class="btn">Roles and permissions</button>
      </div>
    </div>
    <div class="col-sm-8">
      <h3>Roles and permissions</h3>
    </div>
  </div>
</div>
{% endblock content %}
